.modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: #0000008f;
}

.modal-size-small{
    min-width: 24rem;
}

.modal-size-medium{
    min-width: 34rem;
}

.modal-size-large{
    min-width: 64rem;
}